@use "@app/styles/mixins/variables" as vars;
@use "@app/styles/mixins/mixins" as mixins;

.iconStyle{
color:  rgba(255,255,255,0.80);
&:hover {
        color: vars.$gold;
    }
}
.backBtn {
    display: flex;
    font-size: 24px;
    appearance: none;
    -webkit-appearance: none;
    background: inherit !important;
    padding: 0 !important;
    width: 32px !important;
    height: 32px !important;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    transition: color 0.15s ease;

    &:hover {
        color: vars.$text-2;
    }
    
}