@use '../variables/colors' as colors;
@use '../mixins/typography' as typography;

@mixin button {
  @include typography.title-2-semibold;
  padding: 16px 32px;
  gap: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: colors.$violet-600;
  cursor: pointer;

  &:disabled {
    background-color: colors.$violet-50;
    cursor: not-allowed;
  }

  &:hover {
    background-color: colors.$violet-500;
  }

  @media (min-width: 768px) {
    @include typography.title-2-semibold;
    padding: 16px 32px;
    gap: 12px;
  }
}

@mixin button-secondary {
  @include button;
  background-color: colors.$white;
  color: colors.$violet-600;
  border: 1.5px solid colors.$violet-600;

  &:hover {
    background-color: colors.$violet-50;
  }
}
