@use '../variables/colors' as colors;
@use '../mixins/typography' as typography;

// =======================
// Input text styling
// =======================
$desktop: 1024px;
@mixin input-text {
  @include typography.title-2-medium;
  border-radius: 10px;
  border: 1px solid colors.$blue-50;
  outline: none;
  padding: 10px 16px;
  gap: 10px;
  background-color: #fbfbfb;

  &:hover {
    border: 1px solid colors.$blue-100;
  }

  &:focus {
    background-color: #fff;
    border: 1px solid colors.$violet-500;
  box-shadow: 0 0 0 3px colors.$violet-100;
  outline: none;
  }

  &:disabled {
    background: #f5f5f5;
    border: 1px solid colors.$blue-50;
    cursor: not-allowed;
  }

  &:invalid {
    border: 1px solid colors.$red-200;
    background: #fff;
  }
}

@mixin input-checkbox {
  display: block;
  margin: 0;
  outline: 0;
  position: relative;
  width: 24px;
  height: 24px;
  appearance: none;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: colors.$white;
    border: 1px solid colors.$blue-100;
    border-radius: 4px;
  }

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    &::after {
      border-color: colors.$violet-600;
    }
  }

  &:disabled {
    &::after {
      background-color: colors.$violet-50;
    }
  }

  &:checked::after {
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &:not(:disabled):checked::after {
    background-color: colors.$violet-600;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.3332 4L5.99984 11.3333L2.6665 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  &:disabled:checked::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.3332 4L5.99984 11.3333L2.6665 8' stroke='%23D1D1D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
}

// =======================
// Input control with label
// =======================
@mixin input-control-with-label {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    @include typography.caption-medium;
    color: colors.$blue-700;
  }

  input {
    @include input-text;
    height: 56px;
    transition: transform 0.15s ease, box-shadow 0.15s ease;

  }

  .subContainer {
    display: flex;
    align-items: center;
    gap: 4px;
    min-height: 16px;

    .exclamationHintIcon {
      width: 12px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22currentColor%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6%201.125C5.03582%201.125%204.09329%201.41091%203.2916%201.94659C2.48991%202.48226%201.86507%203.24363%201.49609%204.13442C1.12711%205.02521%201.03057%206.00541%201.21867%206.95107C1.40678%207.89672%201.87108%208.76536%202.55286%209.44715C3.23464%2010.1289%204.10328%2010.5932%205.04894%2010.7813C5.99459%2010.9694%206.97479%2010.8729%207.86558%2010.5039C8.75637%2010.1349%209.51775%209.51009%2010.0534%208.7084C10.5891%207.90671%2010.875%206.96418%2010.875%206C10.8736%204.70749%2010.3596%203.46831%209.44564%202.55436C8.5317%201.64042%207.29251%201.12636%206%201.125ZM6%2010.125C5.18415%2010.125%204.38663%209.88307%203.70827%209.42981C3.02992%208.97655%202.50121%208.33231%202.189%207.57857C1.87679%206.82482%201.7951%205.99542%201.95426%205.19525C2.11343%204.39508%202.5063%203.66008%203.08319%203.08318C3.66008%202.50629%204.39508%202.11342%205.19525%201.95426C5.99543%201.7951%206.82483%201.87679%207.57857%202.189C8.33232%202.50121%208.97655%203.02992%209.42981%203.70827C9.88307%204.38663%2010.125%205.18415%2010.125%206C10.1238%207.09364%209.68877%208.14213%208.91545%208.91545C8.14213%209.68876%207.09364%2010.1238%206%2010.125ZM5.625%206.375V3.75C5.625%203.65054%205.66451%203.55516%205.73484%203.48484C5.80516%203.41451%205.90055%203.375%206%203.375C6.09946%203.375%206.19484%203.41451%206.26517%203.48484C6.33549%203.55516%206.375%203.65054%206.375%203.75V6.375C6.375%206.47446%206.33549%206.56984%206.26517%206.64017C6.19484%206.71049%206.09946%206.75%206%206.75C5.90055%206.75%205.80516%206.71049%205.73484%206.64017C5.66451%206.56984%205.625%206.47446%205.625%206.375ZM6.5625%208.0625C6.5625%208.17375%206.52951%208.28251%206.4677%208.37501C6.4059%208.46751%206.31804%208.53961%206.21526%208.58218C6.11248%208.62476%205.99938%208.6359%205.89026%208.61419C5.78115%208.59249%205.68092%208.53891%205.60225%208.46025C5.52359%208.38158%205.47001%208.28135%205.44831%208.17224C5.42661%208.06312%205.43775%207.95002%205.48032%207.84724C5.52289%207.74446%205.59499%207.65661%205.68749%207.5948C5.78%207.53299%205.88875%207.5%206%207.5C6.14919%207.5%206.29226%207.55926%206.39775%207.66475C6.50324%207.77024%206.5625%207.91332%206.5625%208.0625Z%22%20fill%3D%22currentColor%22/%3E%3C/svg%3E");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .exclamationErrorIcon {
      width: 12px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%20fill%3D%22none%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6%201.125C5.03582%201.125%204.09329%201.41091%203.2916%201.94659C2.48991%202.48226%201.86507%203.24363%201.49609%204.13442C1.12711%205.02521%201.03057%206.00541%201.21867%206.95107C1.40678%207.89672%201.87108%208.76536%202.55286%209.44715C3.23464%2010.1289%204.10328%2010.5932%205.04894%2010.7813C5.99459%2010.9694%206.97479%2010.8729%207.86558%2010.5039C8.75637%2010.1349%209.51775%209.51009%2010.0534%208.7084C10.5891%207.90671%2010.875%206.96418%2010.875%206C10.8736%204.70749%2010.3596%203.46831%209.44564%202.55436C8.5317%201.64042%207.29251%201.12636%206%201.125ZM6%2010.125C5.18415%2010.125%204.38663%209.88307%203.70827%209.42981C3.02992%208.97655%202.50121%208.33231%202.189%207.57857C1.87679%206.82482%201.7951%205.99542%201.95426%205.19525C2.11343%204.39508%202.5063%203.66008%203.08319%203.08318C3.66008%202.50629%204.39508%202.11342%205.19525%201.95426C5.99543%201.7951%206.82483%201.87679%207.57857%202.189C8.33232%202.50121%208.97655%203.02992%209.42981%203.70827C9.88307%204.38663%2010.125%205.18415%2010.125%206C10.1238%207.09364%209.68877%208.14213%208.91545%208.91545C8.14213%209.68876%207.09364%2010.1238%206%2010.125ZM5.625%206.375V3.75C5.625%203.65054%205.66451%203.55516%205.73484%203.48484C5.80516%203.41451%205.90055%203.375%206%203.375C6.09946%203.375%206.19484%203.41451%206.26517%203.48484C6.33549%203.55516%206.375%203.65054%206.375%203.75V6.375C6.375%206.47446%206.33549%206.56984%206.26517%206.64017C6.19484%206.71049%206.09946%206.75%206%206.75C5.90055%206.75%205.80516%206.71049%205.73484%206.64017C5.66451%206.56984%205.625%206.47446%205.625%206.375ZM6.5625%208.0625C6.5625%208.17375%206.52951%208.28251%206.4677%208.37501C6.4059%208.46751%206.31804%208.53961%206.21526%208.58218C6.11248%208.62476%205.99938%208.6359%205.89026%208.61419C5.78115%208.59249%205.68092%208.53891%205.60225%208.46025C5.52359%208.38158%205.47001%208.28135%205.44831%208.17224C5.42661%208.06312%205.43775%207.95002%205.48032%207.84724C5.52289%207.74446%205.59499%207.65661%205.68749%207.5948C5.78%207.53299%205.88875%207.5%206%207.5C6.14919%207.5%206.29226%207.55926%206.39775%207.66475C6.50324%207.77024%206.5625%207.91332%206.5625%208.0625Z%22%20fill%3D%22%23D93636%22/%3E%3C/svg%3E");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .hint {
      @include typography.caption;
      color: colors.$blue-300
    }

    .error {
      display: flex;
      align-items: center;
      gap: 4px;
      @include typography.body;
      color: colors.$yellow-300
    }
  }
}

@mixin input-checkbox {
  display: block;
  margin: 0;
  outline: 0;
  position: relative;
  width: 24px;
  height: 24px;
  appearance: none;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: colors.$white;
    border: 1px solid colors.$blue-100;
    border-radius: 4px;
  }

  &:not(:disabled):focus,
  &:not(:disabled):hover {
    &::after {
      border-color: colors.$violet-600;
    }
  }

  &:disabled {
    &::after {
      background-color: #F5F5F5;
    }
  }

  &:checked::after {
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &:not(:disabled):checked::after {
    background-color: colors.$violet-600;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.3332 4L5.99984 11.3333L2.6665 8' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }

  &:disabled:checked::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M13.3332 4L5.99984 11.3333L2.6665 8' stroke='%23D1D1D1' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
}