/**
 * Headings
 * @description
 * Headings mixins for typography
 * Regular font weight
 */

@mixin heading-1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@mixin heading-2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@mixin heading-3 {
  font-size: 33px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@mixin heading-4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@mixin heading-5 {
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

/*
  * Headings
  * @description
  * Headings mixins for typography
  * Bold font weight
*/

@mixin heading-1-bold {
  @include heading-1;
  font-weight: 700;
}

@mixin heading-2-bold {
  @include heading-2;
  font-weight: 700;
}

@mixin heading-3-bold {
  @include heading-3;
  font-weight: 700;
}

@mixin heading-4-bold {
  @include heading-4;
  font-weight: 700;
}

@mixin heading-5-bold {
  @include heading-5;
  font-weight: 700;
}

/*
  * Headings
  * @description
  * Headings mixins for typography
  * Semi-bold font weight
*/

@mixin heading-1-semibold {
  @include heading-1;
  font-weight: 600;
}

@mixin heading-2-semibold {
  @include heading-2;
  font-weight: 600;
}

@mixin heading-3-semibold {
  @include heading-3;
  font-weight: 600;
}

@mixin heading-4-semibold {
  @include heading-4;
  font-weight: 600;
}

@mixin heading-5-semibold {
  @include heading-5;
  font-weight: 600;
}
@mixin heading-extrabold {
  @include heading-1;
  font-weight: 800;
}

/*
  * Headings
  * @description
  * Headings mixins for typography
  * Medium font weight
*/

@mixin heading-1-medium {
  @include heading-1;
  font-weight: 500;
}

@mixin heading-2-medium {
  @include heading-2;
  font-weight: 500;
}

@mixin heading-3-medium {
  @include heading-3;
  font-weight: 500;
}

@mixin heading-4-medium {
  @include heading-4;
  font-weight: 500;
}

@mixin heading-5-medium {
  @include heading-5;
  font-weight: 500;
}

/*
  * Headings
  * @description
  * Headings mixins for typography
  * Light font weight
*/

@mixin heading-1-light {
  @include heading-1;
  font-weight: 300;
}

@mixin heading-2-light {
  @include heading-2;
  font-weight: 300;
}

@mixin heading-3-light {
  @include heading-3;
  font-weight: 300;
}

@mixin heading-4-light {
  @include heading-4;
  font-weight: 300;
}

@mixin heading-5-light {
  @include heading-5;
  font-weight: 300;
}



/**
 * Title
 * @description
 * Title mixins for typography
 * Regular font weight
 */

 @mixin title-1 {
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

@mixin title-2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

/*
  * Title
  * @description
  * Title mixins for typography
  * Bold font weight
*/

@mixin title-1-bold {
  @include title-1;
  font-weight: 700;
}

@mixin title-2-bold {
  @include title-2;
  font-weight: 700;
}

/*
  * Title
  * @description
  * Title mixins for typography
  * Semi-bold font weight
*/

@mixin title-1-semibold {
  @include title-1;
  font-weight: 600;
}

@mixin title-2-semibold {
  @include title-2;
  font-weight: 600;
}

/*
  * Title
  * @description
  * Title mixins for typography
  * Medium font weight
*/

@mixin title-1-medium {
  @include title-1;
  font-weight: 500;
}

@mixin title-2-medium {
  @include title-2;
  font-weight: 500;
}

/*
  * Title
  * @description
  * Title mixins for typography
  * Light font weight
*/

@mixin title-1-light {
  @include title-1;
  font-weight: 300;
}

@mixin title-2-light {
  @include title-2;
  font-weight: 300;
}

/**
 * Body
 * @description
 * Body mixins for typography
 * Regular font weight
 */

 @mixin body {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

/*
  * Body
  * @description
  * Body mixins for typography
  * Bold font weight
*/

@mixin body-bold {
  @include body;
  font-weight: 700;
}

/*
  * Body
  * @description
  * Body mixins for typography
  * Semi-bold font weight
*/

@mixin body-semibold {
  @include body;
  font-weight: 600;
}

/*
  * Body
  * @description
  * Body mixins for typography
  * Medium font weight
*/

@mixin body-medium {
  @include body;
  font-weight: 500;
}

/*
  * Caption
  * @description
  * Caption mixins for typography
  * Light font weight
*/

@mixin body-light {
  @include body;
  font-weight: 300;
}

/**
 * Caption
 * @description
 * Caption mixins for typography
 * Regular font weight
 */

 @mixin caption {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

/*
  * Caption
  * @description
  * Caption mixins for typography
  * Bold font weight
*/

@mixin caption-bold {
  @include caption;
  font-weight: 700;
}

/*
  * Caption
  * @description
  * Caption mixins for typography
  * Semi-bold font weight
*/

@mixin caption-semibold {
  @include caption;
  font-weight: 600;
}

/*
  * Caption
  * @description
  * Caption mixins for typography
  * Medium font weight
*/

@mixin caption-medium {
  @include caption;
  font-weight: 500;
}

/*
  * Caption
  * @description
  * Caption mixins for typography
  * Light font weight
*/

@mixin caption-light {
  @include caption;
  font-weight: 300;
}