PORT=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SSL=true
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
CONTACT_FROM_EMAIL=

REDIS_HOST=
REDIS_PORT=
PAYSTACK_SECRET_KEY=

DOJAH_APP_ID=
DOJAH_SECRET_KEY=