PORT=
DATABASE_URL=
MIGRATION_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIS_URL=
#rediss://default:gQAAAAAAAZFgAAIocDFjZTMxMjA4MTYwMDM0NjI4YmJhMDNmZmQ5NTE3MTZmZXAxMTAyNzUy@becoming-perch-102752.upstash.io:6379
JWT_EXPIRATION="1d"
JWT_SECRET=
TERMII_API_KEY=
TERMII_BASE_URL=
GOOGLE_REDIRECT_URI=
FRONT_END_URL=
SUPABASE_STORAGE_BUCKET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_MAILTO=